<div class="container" data-controller="clock">
  <div class="row">
    <div class="col-12">
      <div class="d-flex justify-content-between py-3 pb-2">

        <%# LEFT %>
        <div class="d-flex flex-column justify-content-center align-items-center gap-2">
          <%= image_tag "RM25_Reduzida_Branco.png", width: '200px' %>
        </div>

        <%# RIGHT %>
        <div class="d-flex flex-column gap-0 text-white">
          <p class="mb-0 fw-bold fs-1" data-clock-target="time">
            <%= Time.current.strftime('%H:%M') %>          </p>
          <p class="mb-0 fw-semibold" data-clock-target="date">
            <%= I18n.l(Date.today, format: :custom) %>          </p>
        </div>

      </div>
    </div>
  </div>
</div>
