<div class="container" data-controller="clock">
  <div class="row">
    <div class="col-12">
      <div class="d-flex justify-content-between pb-3 pb-2">

        <%# LEFT %>
        <div class="d-flex flex-column justify-content-center align-items-center gap-2">
          <%= image_tag "RM25_Horizontal_Branco.png", width: '300px' %>
        </div>

        <%# RIGHT %>
        <div class="d-flex flex-column justify-content-center gap-0 text-white">
          <p style="font-size: 48px" class="mb-0 fw-bold" data-clock-target="time"><%= Time.current.strftime('%H:%M') %></p>
          <p style="font-size: 22px" class="mb-0 fw-semibold" data-clock-target="date"><%= I18n.l(Date.today, format: :custom) %></p>
        </div>

      </div>
    </div>
  </div>
</div>
