<div class="d-flex flex-column gap-1" style="border-left: 7px solid #e1219a;padding-left:24px;"  id="next-presentation">
  <p class="mb-0" style="font-size:18px;font-weight:600;">PRÓXIMA PALESTRA</p>
  <p class="mb-0" style="font-size:24px;font-weight:400;font-style:italic;"><%= next_presentation.title %></p>
  <p class="mb-0" style="font-size:22px;font-weight:400;"><%= I18n.l(next_presentation.start_time.to_date, format: :short) %></p>
</div>
