<p class="text-white mb-0 fs-5 align-self-start" id="next-presentation">
  <% if next_presentation %>
    Próxima palestra: <%= next_presentation.title %> (<%= I18n.l(presentation.start_time.to_date, format: :short) %> às <%= next_presentation.start_time.strftime('%H:%M') %>)
  <% end %>
</p>
