<% all_presentations = presentations_by_room.values.flatten.uniq %>
<div class="row justify-content-center" style="height: 82vh; background-color: #f13baeff;">
  <div class="col-12 d-flex align-items-center">
    <div class="container shadow">

      <%= render "table_header" %>
      <div id="presentation-slideshow" data-controller="slideshow">
        <% all_presentations.each_slice(4).with_index do |group, page_index| %>
          <div class="slide-page <%= 'active' if page_index == 0 %>" data-slideshow-target="slide">
            <% group.each_with_index do |presentation, presentation_index| %>
              <%= render "presentation_row", presentation: presentation, index: presentation_index %>
            <% end %>
          </div>
        <% end %>
      </div>


    </div>
  </div>
</div>

<style>
.slide-page .row:last-of-type {
  border-radius: 0 0 8px 8px !important;
}
.slide-page {
  display: none;
  transition: opacity 0.5s ease-in-out;
}
.slide-page.active {
  display: block;
}

</style>
