<div class="d-flex flex-column gap-3" id='media-file-content'>
  <%= render 'rooms/name', room: room %>
  <%= render "presentations/content", presentation: presentation %>
</div>
<% if next_presentation %>
  <%= render "presentations/next_presentation", next_presentation: next_presentation %>
<% end %>
