<% all_presentations = presentations_by_room.values.flatten.uniq %>
<div class="row justify-content-center" style="height: 86vh;">
  <div class="col-12 d-flex align-items-center">
    <div class="container shadow">

      <%= render "table_header" %>
      <div id="presentation-slideshow" data-controller="slideshow">
        <% presentations_by_room.each_with_index do |(room, presentations), page_index| %>
          <div class="slide-page <%= 'active' if page_index == 0 %>" data-slideshow-target="slide">
            <%= render "rooms/presentations", room: room, presentations: presentations %>
          </div>
        <% end %>
      </div>

    </div>
  </div>
</div>

<style>
.slide-page .row:last-of-type {
  border-radius: 0 0 8px 8px !important;
}
.slide-page {
  display: none;
  transition: opacity 0.5s ease-in-out;
}
.slide-page.active {
  display: block;
}

</style>
