<div class="row px-3 py-3 justify-content-evenly" style="background-color: #e1219a; border-radius: 8px 8px 0 0;">
  <div class="col-2">
    <p class="mb-0 text-white fw-semibold">TIPO</p>
  </div>
  <div class="col-5">
    <p class="mb-0 text-white fw-semibold">EVENTO</p>
  </div>
  <div class="col-3">
    <p class="mb-0 text-white fw-semibold">DATA/HORÁRIO/SALA</p>
  </div>
  <div class="col-2">
    <p class="mb-0 text-white fw-semibold">STATUS</p>
  </div>
</div>
