<%= turbo_stream_from "room_#{@room.id}_presentations" %>

<div class="row justify-content-center relative">
  <% if @presentation %>
    <%= render @presentation %>
    <%= render "presentations/next_presentation", next_presentation: @next_presentation %>
  <% end %>
</div>
