<div class="">
  <%= render Avo::PanelComponent.new(name: 'Presentation importer', display_breadcrumbs: true) do |c| %>
    <% c.with_tools do %>
      <div class="text-sm text-gray-600">Upload a CSV file to import presentations</div>
    <% end %>

    <% c.with_body do %>
        <%= form_with url: create_presentation_importer_path, method: :post, multipart: true, class: "py-6 px-6 space-y-6" do |f| %>
          <%= f.submit "Importar apresentações", class: "button-component inline-flex flex-grow-0 items-center font-semibold leading-6 fill-current whitespace-nowrap transition duration-100 transform transition duration-100 cursor-pointer disabled:cursor-not-allowed disabled:opacity-60 data-[disabled='true']:opacity-60 justify-center border active:outline active:outline-1 rounded bg-primary-500 text-white border-primary-500 hover:bg-primary-600 hover:border-primary-600 active:border-primary-600 active:outline-primary-600 active:bg-primary-600 px-3 py-1.5 text-sm" %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
<div class="empty:hidden" id="flash"></div>

<%= turbo_stream_from "flash_messages" %>
